*

!package.json
!Packages/manifest.json

!Packages/com.capgemini.voicerecorder/Runtime/
!Packages/com.capgemini.voicerecorder/Runtime/**

!Packages/com.capgemini.voicerecorder/Samples~/
!Packages/com.capgemini.voicerecorder/Samples~/**
!Packages/com.capgemini.voicerecorder/Samples~/BasicExample/
!Packages/com.capgemini.voicerecorder/Samples~/BasicExample/**

Packages/com.capgemini.voicerecording/Runtime/.vs/

!*.meta
!*.asmdef
!*.asmref

!*.cs
!*.shader
!*.cginc
!*.unity
!*.prefab
# etc.

!README.md
!CHANGELOG.md
