*

!package.json
!Packages/manifest.json

!Runtime/

!Samples~/
!Samples~/**
!Samples~/BasicExample/
!Samples~/BasicExample/**

!*.meta
!*.asmdef
!*.asmref

!*.cs
!*.shader
!*.cginc
# etc.

!README.md
!CHANGELOG.md
